<!-- Main content -->
<div class="box-body">
    <h3>Adicionar Estação de Coleta de Dados</h3>
    <br></br>
	<div class="form-group">
        <label>ID da Estação de Coleta de Dados:</label>
        <input ng-model="idecd" type="text" class="form-control" placeholder="ID ECD">
    </div>
    <div class="form-group">
        <label>Coordenada Latitude:</label>
        <input ng-model="lat" type="text" class="form-control" placeholder="lat">
    </div>
    <div class="form-group">
        <label>Coordenada Longitude</label>
        <input ng-model="lon" type="text" class="form-control" placeholder="lon">
    </div>
    <button ng-click="enviar()" type="button" class="btn btn-block btn-success btn-lg">Enviar</button>
  
</div><!-- /.content -->
